{%extends 'blog/base.html'%}
{% load static%}
{%block title%} | Shopping Cart {%endblock%}
{% block main %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('{% static "blog/assets/img/shp-cart.jpg" %}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>سبد خرید شما</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
    {% if order %}
        <ul>
            {% for item in order.items.all %}
                <li>تعداد {{ item.quantity }} عدد از  {{ item.product.title }} - {{ item.total_price }} تومان</li>
            {% endfor %}
        </ul>
        <p>قیمت کل: {{ order.total_price }} تومان</p>
        <form action="{% url 'blog:checkout' %}" method="post">
            {% csrf_token %}
            <button type="submit">پرداخت</button>
        </form>
    {% else %}
        <p>سبد خرید شما خالی است.</p>
    {% endif %}
    <a href="{% url 'blog:home' %}">ادامه خرید</a>
{% endblock %}